.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top {
  background: rgba(105, 105, 105, 1) !important;
}

.home-logo.navbar-brand.active {
  width: 8%;
}

.add-dare.btn.btn-primary.active {
  background: rgb(33, 65, 150);
}
