.b2-login {
  margin-top: 10%;
  text-align: center;
}

.login-link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.signup-desc {
  text-align: center;
}

.signup-desc {
  margin-top: 1%;
  margin-bottom: 3%;
}

.create-button.btn.btn-primary {
  margin-top: 1%;
}
